---
import NavBar from '../components/NavBar.jsx';
import CallToAction1 from '../components/CallToAction-1.jsx';
import Layout from '../layouts/Layout.astro';
import WhatWeDo from '../components/WhatWeDo.jsx';
---

<Layout>
	<div class="absolute top-0 left-0 w-full overflow-hidden font-[roboto]">

		<!-- Contact Banner -->
		<div class="relative w-full py-2.5 my-0 font-medium text-sm text-white text-center bg-gray-800">
    		<p class="w-fit h-fit px-2 my-0 mx-auto md:ml-auto md:mr-20 "> Contact Us | Info@kaluna.sn | 33-230-34-34</p>
		</div>

		<!-- Main Content -->

		<!-- Hero Section -->
		<div class="bg-[url('/src/assets/hero.webp')] bg-cover min-h-170 md:min-h-200 w-full relative left-0 my-0 py-0">
			<div class=" absolute inset-0 bg-linear-to-r from-black/60 via-black/50 to-black/60">
				<NavBar client:load/>
				<CallToAction1 />
			</div>
		</div>

		<!-- WhatWeDo Section -->
		<div class="w-full min-h-170 md:min-h-200 bg-zinc-100">
			<WhatWeDo />
		</div>

	</div>
</Layout>
