---
import NavBar from '../components/NavBar.jsx';
import CallToAction1 from '../components/CallToAction-1.jsx';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="bg-gray-200 h-200 top-0 left-0 w-full overflow-hidden">

		<!-- Contact Banner -->
		<div class="w-full py-2.5 font-medium text-sm text-white text-center bg-gray-800">
    		<p class="w-fit px-2 mx-auto md:ml-auto md:mr-20 "> Contact Us | Info@kaluna.sn | 33-230-34-34</p>
		</div>

		<!-- Main Content -->
		<div class="">
			<NavBar client:load/>
			<CallToAction1 />
		</div>

	</div>
</Layout>
