---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/public/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/public/favicon.svg" />
		<link rel="shortcut icon" href="/public/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/public/apple-touch-icon.png" />
		<link rel="manifest" href="/public/site.webmanifest" />
		<meta name="generator" content={Astro.generator} />
		<title>Kanula</title>
		<style>
		@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
		</style>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
